@import "tailwindcss";

.bg-image {
  @apply bg-cover bg-center min-h-screen;
  background-image: url("./assets/bg2.png");
}

.box {
  @apply items-start;
}

.section2 {
  @apply flex flex-col;
}

.map-card {
  @apply rounded-4xl overflow-hidden border border-white/10 bg-white/5 shadow-2xl shadow-black/30 backdrop-blur-xl;
}

.news {
  @apply rounded-3xl border border-white/10 bg-white/5 p-6 shadow-2xl shadow-black/20 backdrop-blur-xl;
}

.stats {
  @apply rounded-3xl border border-white/10 bg-white/5 p-6 shadow-2xl shadow-black/20 backdrop-blur-xl;
}

.tac-one-regular {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bungee {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
